:root{
    /*Paleta de colores*/
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#FFC107;
    --gris:#757575;
    --secundario:#0097A7;

    --fuente-principal:3.8rem;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*,*:before, *:after{
    box-sizing: inherit;
}
.button-blue{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
.button-blue:hover{
    cursor: pointer;
}

.w-100{
    width: 100%;
}
@media(min-width: 768px) {
    .w-100{
        width: auto;
    }
}
@media(min-width: 768px) {
    .button-blue{
        width:auto;
    }
}